#test

*_log.txt

*ast.txt
*_asm.txt
*_dasm.txt
*.vspx
*.VC.db-shm
*.db-shm
*.db-wal
*.ipch
*.vsidx
*.lock

randbits.txt

*.o
*.a
*.obj
*.pdn
*.suo
*.pdb
*.ilk
*.exp
*.lib
*.db
*.opendb
*.sln
*logpc.txt
*log.txt
*.vhd
*.hd
*.hxs

*.cxlcpdb
CacheFile.map
quakei386.exe
a.out

*.tga
*.png
*.jpg
*.wav

*.wad
*.pak
*.ms2

*.rts
*.rtc
*.rot
*.rtl
*.ini
*.dmo
*.lbm
*.pcx
*.DOC
*.avi
*.AVI
*.mod

*.pk3

*_ast.txt
*_inf.txt
*_pp.txt
rsrc_pal*.bmp

*.dat

*/*log.txt
bgbcc22/*.dat

tk_qsrc/q1source/*
tk_qsrc/doomsrc/*
tk_qsrc/id1/glquake/*
tk_qsrc/id1/texcache*/*
tk_qsrc/id1/*
tk_ports/Q3Src/baseq3/*
tk_ports/Q3Src/baseq3_0/*
tk_ports/Q3Src/baseq3_1/*
tk_ports/Q3Src/demoq3/*

tk_qsrc/tk_clib/vxcore/tkrast_*

tk_ports/RottSrc/w3d2rott/w3d_base/*
tk_ports/Wolf3D/*
tk_ports/TestFV3D/*
tk_ports/bitstr/*


vlcore/obj_dir/*
jx2vlcore3/core/obj_dir/*
jx2vlcore3/core_*
# bjx1core32/obj_dir/*
# smalltst/compdec/obj_dir/*
# bjx1c32b/obj_dir/*

*/obj_dir/*
*/*/obj_dir/*

jx2vlcore3_old/*
